<div class="container">

<%# Pagination number is set in the controller under def index! %>
  <div>
    <h1>Artist Listing</h1>
      <div class="sorting-wrapper">   
          <%= render 'artists/search_form.html.erb' %>
      </div>
    <%# <div class="digg_pagination">
    <%= will_paginate @artists, :container => false %>
   

</div>

  <div class="row row-cols-4">
    <% @artists.each do |artist| %>
      <%= render 'artist', artist: artist %>
    <% end %>
  </div>
</div>