
<div class="container">
  <div>
    <h1>Artist Listing</h1>
    

  <div class="digg_pagination">
    <%= will_paginate @artists, :container => false %>
  </div> 

</div>

  <div class="row">
    <% @artists.each do |artist| %>
      <%= render 'artist', artist: artist %>
    <% end %>
    </div>
  </div>
<<<<<<< Updated upstream
=======
</div>
  
>>>>>>> Stashed changes
</div>