<div class="container">
  <h2>Showing artist details</h1>

  <div class="card" style="width: 18rem;">
  <img src=<%= @artist.image_url %> class="card-img-top" alt="artist picture">
  <div class="card-body">
    <h5 class="card-title"><%= @artist.name %></h5>
    <p class="card-text"><%= @artist.description %></p>
  </div>
</div>

</div>