<div class="container">

<%# Pagination number is set in the controller under def index! %>
  <div>
    <h1>Event Listing</h1>    
      <div class="sorting-wrapper">   
        <%= render 'events/search_form.html.erb' %>
       </div>
  </div>

  <div class="row row-cols-4">
    <% @events.each do |event| %>
      <%= render 'event', event: event %>
    <% end %>
  </div>
</div>
