<div class="container">
  <div>
    <h1>Event Listing</h1>
    <div class="digg_pagination">
      <%= will_paginate @events, :container => false %>
    </div>
</div>

  <div class="row row-cols-4">
    <%= render @events %>
  </div>
</div>
