<div class="container">
  <div>
    <h1>Event Listing</h1>
  </div>
  <%= link_to '<button type="button" class="btn btn-outline-primary">
    Add Event
  </button>'.html_safe, new_event_path %>

  <div class="row row-cols-4">
    <%= render 'event' %>
  </div>
</div>