
<div class="container">

       <%# Pagination number is set in the controller under def index! %>
  <div>
    <h1>Event Listing</h1>    
      <br>
    <div class="help-attn">
        <p>For the location field below, you can search by city, state/region, country, or continent!</p>
        <p>All of the search options work together! Create your own search filters to find the events you want!</p>
    </div>
    <div class="sorting-wrapper">   
        <%= render 'events/search_form.html.erb' %>
    </div>
        <br>
          <h5>Currently displaying <%= pluralize(@events.count, "event") %>. </h5>
          
        <br>
  </div>

  <div class="row row-cols-4">
    <% @events.each do |event| %>
      <%= render 'event', event: event %>
    <% end %>
  </div>
</div>