<div class="container">
  <h1>Create new event</h1>

  <%= render 'shared/errors', obj: @event %>

  <%= render 'form'%>

      <div class="panel panel-default">
        <div class="container">
            <div class="jumbotron">
            <h2>Create your beautiful place</h2>
            </div>
          <div class="panel-body">
            <div class="container">
              <h1>Testing</h1>
              <%# <%= form_for @room do |f| %>
              <div class="row">
                <div class="col-md-4 select">
                  <div class="form-group">
                      <label>Home Type</label>
                  </div>
                </div>
                  <%# <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>



