<div class="container">
  <h1>Let's suggest a new event to add to the site!</h1>
    <br>
    <div class="help-attn">
        <p>Once you add the details and submit the event, the event will be pending for 24-48 hours while it's verified by our team!</p>
        <p>If you wish to be notified when it's approved, please include your best contact email below!</p>
    </div>
    <br>
    <br>

  

  <%= render 'create-event-suggest' %>

</div>
