<div class="container" id="home-container">
  <h1>Welcome to WhereToFuckingDance.com!</h1>
  




   <div class="btn btn-outline-primary gap-2">
  <%= link_to 'Sign up page', signup_path %>
    </div>
    <div class="btn btn-outline-primary gap-2">
   <%= link_to 'View Artists', artists_path %>
    </div>
    <div class="btn btn-outline-primary gap-2">
  <%= link_to 'Events listing', events_path %>
    </div>
</div>
</div>
</div>