@use 'bootstrap/dist/css/bootstrap';

// .navbar {
//   background-color: plum !important;
// }

#home-container {
  margin-top: 25px;
}

.container {
  margin-top: 25px;
}

/* pagination styling */
.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */
}
.digg_pagination a,
.digg_pagination span,
.digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}
.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd;
}
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1;
}
.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5;
}
.digg_pagination a:hover,
.digg_pagination a:focus {
  color: #000033;
  border-color: #000033;
}
.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}
.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}
.digg_pagination:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .digg_pagination {
  height: 1%;
}
*:first-child + html .digg_pagination {
  overflow: hidden;
}
.artist-wrapper-topinfo {
  display: flex; /* or inline-flex */
  gap: 20px 40px;
}
.artist-info-wrapper {
  display: flex;
}
.card.videos {
  flex-grow: 4;
}
.card2 {
  flex-grow: 4;
}
.artist-page-image {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
}
.even-size-artist {
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
}

.event-page-image {
  max-width: 60vw;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.event-show-date {
  display: flex;
}

.even-size-event {
  width: 250px;
  border-radius: 10px;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: poppins;
}

.data-control-wrapper {
  margin-top: 40px;
  margin-bottom: 100px;
}

.artist-video-wrapper {
  margin-bottom: 40px;
}

.event-list-wrapper {
  margin-bottom: 40px;
}

.artist-list-wrapper {
  margin-bottom: 40px;
}

.sorting-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}
.avatar_small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar_medium {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.avatar_large {
  width: 68px;
  height: 68px;
  border-radius: 50%;
}

.avatar_xlarge {
  width: 300px;
  height: 300px;
  border-radius: 10%;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.form-style {
  margin-bottom: 200px;
  width: 50%;
}

.show-style {
  margin-bottom: 200px;
  width: 60vw;
  align: center;
}

::placeholder {
  color: #3f3f3f;
}

select {
  color: #3f3f3f;
}

.artist-form-checkbox {
  margin-top: 10px;
  margin-bottom: 20px;
}

p.help-text {
  margin-top: 10px;
  color: grey;
}

.show-page-wrapper {
  width: 50%;
}